.user {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

.avatar {
  flex: 0 0 96px;
  width: 200px;
  margin: 0;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}

.header {
  background-color: rgba(147, 141, 141, 0.536);
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}
